:root {
  /**
   * colors
   */

  --maximum-yellow-red: #66dfb7;
  --royal-blue-dark: hsl(231, 61%, 22%);
  --silver-chalice: hsl(0, 0%, 70%);
  --oxford-blue: hsl(231, 100%, 8%);
  --bittersweet: hsl(2, 100%, 69%);
  --french-rose: #66dfb7;
  --davys-gray: hsl(180, 3%, 28%);
  --cool-gray: hsl(240, 13%, 62%);
  --platinum: hsl(0, 0%, 92%);
  --white-2: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --rythm: hsl(240, 9%, 53%);

  /**
   * typography
   */

  --ff-poppins: "Poppins", sans-sarif;

  --fs-1: 32px;
  --fs-2: 26px;
  --fs-3: 22px;
  --fs-4: 18px;
  --fs-5: 15px;
  --fs-6: 14px;

  --fw-700: 700;
  --fw-600: 600;
  --fw-500: 500;

  /**
   * transition
   */

  --transition: 0.25s ease-in-out;
}

html {
  font-size: 62.5%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

::-webkit-scrollbar {
  display: none;
}

/* estilos principales es decir todo lo que esta en el navbar */
.main-container {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../assets/inicio-bg.png");
  box-shadow: inset 80rem 0 88px rgba(0, 0, 0, 0.6),
    inset -564px 0 98px rgb(75, 75, 75, 0.3);
}

header nav section {
  display: inline-block;
}

header {
  width: 100%;
}

.left-menu {
  width: 25%;
}

.navbar-menu-btn {
  display: none;
}

.Logo {
  width: 100px;
}

.navbar-center ul {
  margin-left: 12px;
}

.navbar-shopping-cart {
  position: relative;
}

.navbar-shopping-cart div {
  width: 16px;
  height: 16px;
  position: absolute;
  top: 2px;
  right: 1px;
  background-color: whitesmoke;
  border-radius: 50%;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-container .container-nav {
  box-sizing: border-box;
  width: 100%;
  height: 7rem;
  position: relative;
  display: flex;
  align-items: center;

  justify-content: space-between;
  padding: 0 24px;
}

.navbar-center ul {
  box-sizing: border-box;
  height: 100%;
  display: flex;
  column-gap: 92px;
  align-items: center;
  flex-shrink: 0;
  list-style: none;
  text-decoration: none;
}
.navbar-center ul li a,
.navbar-right ul li a {
  cursor: pointer;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #ffffff;
  font-family: Inter, "Source Sans Pro";
  white-space: nowrap;
  flex-shrink: 0;
  text-decoration: none;
  list-style: none;
}
.navbar-center ul li a:hover,
.navbar-right ul li a:hover {
  color: #67e0b8;
}

.navbar-shopping-cart img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}

/* estilos Segundarios es decir La parte del boton de compra y el texto */

.main-container .Agrupacion-De-texto-y-boton {
  box-sizing: border-box;
  padding: 262px 298px 360px 297px;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.main-container .Agrupacion-De-texto-y-boton .text-container {
  margin-bottom: 15.5rem;
  width: 100%;
  height: 72px;
  /* overflow: hidden; */
  position: relative;
  flex-shrink: 0;
  text-align: center;
}

.first-text,
.second-text {
  margin: 0;
  max-width: 84.5rem;
  text-align: center;
  font-size: 4rem;
  font-weight: 500;
  /* line-height: 0.6; */
  color: #ffffff;
  font-family: Inter, "Source Sans Pro";
}

.ruta {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.cta {
  border: none;
  background: none;
  cursor: pointer;
  font-family: Inter, "Source Sans Pro";
}

.cta span {
  padding-bottom: 7px;
  letter-spacing: 4px;
  font-size: clamp(16px, 4vw, 22px);
  padding-right: 15px;
  text-transform: uppercase;
}

.cta svg {
  transform: translateX(-8px);
  transition: all 0.3s ease;
}

.cta:hover svg {
  transform: translateX(0);
}

.cta:active svg {
  transform: scale(0.9);
}

#arrow-horizontal {
  fill: #ffffff;
}

.hover-underline-animation {
  position: relative;
  color: white;
  padding-bottom: 20px;
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #fff;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.cta:hover .hover-underline-animation:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* #################################### */
@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.Container-Colaboradores {
  background-color: transparent;
  width: 100%;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
}

.Container-Colaboradores:before,
.Container-Colaboradores:after {
  position: absolute;
  top: 0;
  height: 100%;
  content: "";
  z-index: 2;
}

.Container-Colaboradores:before {
  left: 0;
  width: 30%;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), #66dfb7);
}

.Container-Colaboradores:after {
  right: 0;
  width: 30%;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), #66dfb7);
}

.COLABORADORES {
  display: inline-block;
  animation: 25s slide infinite linear;
  text-align: center;
}

.COLABORADORES img {
  height: 50px;
  margin: 0 40px;
}
/* ####################################### */

.Container-Colaboradores {
  width: 100%;
  height: 90px;
  background-color: #66dfb7;
  display: flex;
}
.Container-Colaboradores .COLABORADORES {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  column-gap: 9.075rem;
}
.Container-Colaboradores .COLABORADORES .Fila {
  margin-bottom: 0rem;
  width: 8.8695rem;
  height: 5.2134rem;
  object-fit: contain;
}
.Container-Colaboradores .COLABORADORES .Nike {
  margin-bottom: 0rem;
  width: 11.25rem;
  height: 3.9504rem;
  object-fit: contain;
}
.Container-Colaboradores .COLABORADORES .Puma {
  margin-bottom: 0rem;
  width: 13.2rem;
  height: 4.6351rem;
  object-fit: cover;
}
.Container-Colaboradores .COLABORADORES .Lacoste {
  height: 5.2471rem;
  position: relative;
  background-size: 100% 335.897%;
  object-fit: cover;
  background-position: 0 -5.6508rem;
  flex-shrink: 0;
}
.Container-Colaboradores .COLABORADORES .Jordan {
  width: 9.525rem;
  height: 5.3009rem;
  object-fit: cover;
}
.Container-Colaboradores .COLABORADORES .Adidas {
  margin-bottom: 0rem;
  width: 12.45rem;
  height: 4.725rem;
  object-fit: contain;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 365px);
  gap: 45px;
  place-content: center;
}
.product-card {
  width: 345px;
}
.product-card img {
  width: 240px;
  height: 240px;
  border-radius: 20px;
  object-fit: cover;
  margin-bottom: 1.9953rem;
  width: 34.4901rem;
  height: 50.1674rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 1.5002rem;
}

.product-card img:hover {
  -webkit-transform: scale(1.3);
  transform: scale(1.1);
  overflow: hidden;
}
.product-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
  padding: 0px 6px;
}

.product-info div p {
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Limita a 2 líneas */
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.product-info figure {
  margin: 0;
  display: flex;
  justify-content: end;
  align-items: center;
}

.ofer1,
.ofer2,
.ofer3 {
  bottom: 0 !important;
}
.product-info figure img {
  width: 25px;
  height: 25px;
  margin: 0;
  position: relative;
  left: 7px;
  bottom: 10px;
}

.product-info .container-precio-fecha p {
  font-size: clamp(16px, 4vw, 20px);
  font-weight: 500;
  line-height: 1.2725098474;
  letter-spacing: -0.112rem;
  color: #000000;
  font-family: Inter, "Source Sans Pro";
  white-space: nowrap;
}
.product-info .container-precio-fecha .desc {
  color: #80808066;
}
.product-info div p:nth-child(1) {
  font-weight: bold;
  max-width: 20.8rem;
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 1.5625000836;
  letter-spacing: -0.0912rem;
  color: #191919;
  font-family: Inter, "Source Sans Pro";
}
.product-info div p:nth-child(2) {
  font-size: 13px;
  margin-top: 0;
  margin-bottom: 0;
  color: #7f7f7f;
  font-family: Inter, "Source Sans Pro";
}

.ofertas-is8 {
  font-size: 3.4205rem;
  font-weight: 900;
  line-height: 1.0416668386;
  letter-spacing: 0.2052rem;
  color: #df5013;
  font-family: Inter, "Source Sans Pro";
  white-space: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Segund-container .ofertas {
  width: 34%;
  margin: 70px 0px 39px 0px;
}

.coleccion-container {
  width: 46%;
  margin: 70px 0px 47px 0px;
}

.Coleccion {
  font-size: 3.4205rem;
  font-weight: 900;
  line-height: 1.0416668386;
  letter-spacing: 0.2052rem;
  color: #df5013;
  font-family: Inter, "Source Sans Pro";
  white-space: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  background: #000;
  color: gray;
  margin-top: 8.5%;
  border-top: 1px solid;
  font-family: Inter, "Source Sans Pro";
  font-size: 15.57px;
}

.community-section {
  color: white;
  box-sizing: border-box;
  width: 100%;
  height: 38.4rem;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #66dfb7;
}

.community-section .Direccion-container {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
}

.community-section h2 {
  font-size: clamp(16px, 4vw, 26px);
  margin-bottom: 1.8rem;
  text-align: center;
  font-weight: 800;
  line-height: 1.3095152453;
  letter-spacing: 0.1041rem;
  color: #000000;
  font-family: Inter, "Source Sans Pro";
}

.community-section p {
  margin: 0rem 0rem 2.9rem 0rem;
  text-align: center;
  font-size: clamp(13px, 4vw, 19.77px);
  font-weight: 400;
  line-height: 1.0937499828;
  letter-spacing: 0.0623rem;
  color: #fffcf8;
  font-family: Inter, "Source Sans Pro";
  flex-shrink: 0;
}

.community-section form {
  margin-bottom: 10px;
  box-sizing: border-box;
  padding: 0.649rem 0.75rem 0.649rem 2.025rem;
  height: 7.6459rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  align-items: center;
  background-color: #ffffff;
  border-radius: 0.649rem;
  flex-shrink: 0;
}

.community-section input[type="email"] {
  flex: 1 0 8rem;
  margin: 0.158rem 1.3rem 0rem 0rem;
  font-size: clamp(15px, 4vw, 25px);
  font-weight: 400;
  line-height: 1.4583333104;
  letter-spacing: 0.0467rem;
  color: #767676;
  border: none;
  font-family: Inter, "Source Sans Pro";
  flex-shrink: 0;
}

.community-section input[type="email"]:focus {
  outline: none;
}

.community-section button[type="submit"] {
  position: relative;
  cursor: pointer;
  flex: 1 0 4rem;
  width: 19.075rem;
  height: 100%;
  font-size: clamp(15px, 4vw, 34px);
  font-weight: 500;
  letter-spacing: 0.0642rem;
  color: #ffffff;
  font-family: Inter, "Source Sans Pro";
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000000;
  border-radius: 0.5192rem;
  flex-shrink: 0;
}

.community-section button[type="submit"]:focus {
  background-color: #fff;
}

.community-section button[type="submit"]::before {
  content: "!Gracias¡";
  font-size: clamp(18px, 4vw, 30.5px);
  position: absolute;
  color: #3b82f6;
  left: 0;
  top: -14px;
  right: 0;
  transition: all ease 300ms;
  opacity: 0%;
}

.community-section button[type="submit"]:focus::before {
  opacity: 100%;
  transform: translatey(26px);
}

.community-section button[type="submit"] {
  transition: all ease 50ms;
  opacity: 100%;
}

.community-section button[type="submit"]:active {
  opacity: 0%;
}

section.top {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 2px solid rgb(255 255 255 / 20%);
  padding-bottom: 20px;
  padding-top: 30px;
}

section.top .contenedor-img {
  width: 16%;
}

section.top .contenedor-img img {
  height: 150px;
  width: 150px;
  margin-bottom: 10px;
  position: relative;
  /* bottom: 92px; */
}

.text-principe {
  position: relative;
  bottom: 52px;
}

.links {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 30px;
  margin-bottom: 36px;
  text-align: center;
}

.links p {
  margin: 0 0 10px;
}

.links-column h2 {
  margin: 0 0 10px;
  font-size: 18px;
  font-weight: 400;
  color: #fff9ff;
}

.links-column a {
  display: block;
  margin-bottom: 10px;
  color: gray;
}

.text-principe p {
  display: none;
}

.socials-column p {
  margin-right: 15px;
}

.socials {
  display: flex;
  align-items: center;
  gap: 12px;
  height: 56px;
}

.socials a {
  display: inline-block;
  font-size: 33.75px;
  color: #66dfb7;
  margin-right: 17px;
  transition: all 0.4s ease;
  text-decoration: none;
}

.socials a:hover {
  color: #fff;
  transform: translateY(-5px);
}

@media (min-width: 640px) {
  section.top {
    flex-direction: row;
    justify-content: space-around;
    margin: 0 auto;
    gap: 15%;
  }

  .links {
    grid-template-columns: repeat(3, 1fr);
    text-align: left;
    margin-right: 0;
  }

  .text-principe p {
    display: block;
    line-height: 1.6666666054;
    letter-spacing: 0.0311rem;
  }

  .socials {
    position: static;
  }

  section.bottom {
    flex-direction: row;
    justify-content: flex-start;
    text-align: left;
  }
}

@media (max-width: 640px) {
  .product-info figure {
    position: relative;
    bottom: 2rem;
  }
  .product-info figure img {
    left: 0px;
    bottom: 0;
  }

  section.top {
    padding-bottom: 0px;
  }
  .socials a {
    font-size: 22px;
  }
  .text-principe p {
    text-align: center;
  }

  section.top .contenedor-img {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  footer {
    margin-top: 9.5%;
  }

  .socials {
    justify-content: center;
  }
}

@media (max-width: 480px) {
  body {
    width: max-content;
  }
}

@media (max-width: 1323px) {
  .Container-Colaboradores .COLABORADORES {
    animation: 25s slide infinite linear;
    text-align: center;
    flex-shrink: 0;
    height: 100%;
    width: auto;
    column-gap: 5.075rem;
  }
}

@media (max-width: 769px) {
  .Segund-container .ofertas {
    width: 100%;
  }

  .coleccion-container {
    width: 100%;
  }
}

/* Etiquetas responsives */

@media (max-width: 1024px) {
  .main-container {
    height: 65rem;
  }
  .navbar-center ul {
    display: none;
  }

  /* #################################33 */

  .container-nav {
    max-height: unset;
    visibility: visible;
    position: static;
    width: auto;
    background: none;
    pointer-events: all;
    overflow: visible;
    display: flex;
  }

  .navbar-center ul {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: 20px;
    padding: 10px;
    flex-direction: column;
    align-items: baseline;
  }

  .navbar-center ul li {
    padding: 15px 10px;
  }

  .navbar-center ul li a {
    opacity: 1;
    padding: 0 15px;
  }

  .navbar-center {
    position: absolute;
    top: calc(100% - 15px);
    left: 15px;
    right: 15px;
    background: var(--maximum-yellow-red);
    max-height: 0;
    visibility: hidden;
    pointer-events: none;
    transition: var(--transition);
    transform-origin: top;
    overflow: hidden;
    border-radius: 20px;
  }

  .navbar-center.active {
    visibility: visible;
    pointer-events: all;
    max-height: 280px;
    z-index: 9;
  }

  .navbar-center ul li:not(:last-child) {
    border-bottom: 1px solid hsla(0, 0%, 100%, 0.2);
  }

  .navbar-center ul li a:is(:hover, :focus) {
    background: hsla(0, 0%, 100%, 0.2);
  }

  .navbar.active .navbar-center ul li {
    transition-delay: 0.2s;
    opacity: 1;
  }

  /* #################################33 */

  .main-container .container-nav {
    padding: 0 16px;
  }

  .main-container .Agrupacion-De-texto-y-boton {
    padding: 100px 20px;
    position: relative;
    top: 15%;
  }

  .main-container .Agrupacion-De-texto-y-boton .text-container {
    margin-bottom: 1.5rem;
  }

  .main-container .Agrupacion-De-texto-y-boton .menu-item-A6J {
    margin: 0 20px;
    width: calc(100% - 17rem);
    height: 60px;
  }

  .first-text,
  .second-text {
    font-size: 2rem;
  }

  .logotransparent-1-N4E {
    margin: 0 auto;
    display: block;
  }

  .navbar-menu-btn {
    display: block;
    margin-right: 11%;
    background: transparent;
    color: transparent;
    border: none;
  }
}

@media (max-width: 820px) {
  .main-container {
    height: 55rem;
  }
}

@media (max-width: 769px) {
  .main-container {
    height: 50rem;
  }
}

@media (max-width: 640px) {
  .main-container .Agrupacion-De-texto-y-boton {
    position: relative;
    top: 0%;
  }
  .main-container .Agrupacion-De-texto-y-boton .text-container {
    margin-bottom: 1.5rem;
  }

  .main-container {
    height: 40rem;
  }
  .cards-container {
    grid-template-columns: repeat(auto-fill, 140px);
  }
  .product-card {
    width: 140px;
  }
  .product-card img {
    width: 140px;
    height: 140px;
  }

  .product-info {
    margin-top: 12px;
    display: block;
  }
  .Container-Colaboradores .COLABORADORES {
    row-gap: 1px;
    flex-shrink: 0;
    display: grid;
    place-content: center;
    grid-template-columns: repeat(auto-fit, minmax(10px, 1fr));
    column-gap: 9.075rem;
    width: 100%;
    height: 100%;
    align-items: center;
    box-sizing: border-box;
    gap: 2rem;
  }

  .Container-Colaboradores .COLABORADORES .Fila {
    width: 5.8695rem;
  }
  .Container-Colaboradores .COLABORADORES .Nike {
    width: 5.25rem;
  }
  .Container-Colaboradores .COLABORADORES .Puma {
    width: 8.2rem;
  }
  .Container-Colaboradores .COLABORADORES .Lacoste {
    height: 3.2471rem;
  }
  .Container-Colaboradores .COLABORADORES .Jordan {
    width: 6.525rem;
  }
  .Container-Colaboradores .COLABORADORES .Adidas {
    width: 5.45rem;
  }
}
